@font-face {
	font-weight: normal;
	font-style: normal;
	src:url('../fonts/c.eot');
	src:url('../fonts/c.eot') format('embedded-opentype'),
		url('../fonts/c.woff') format('woff'),
		url('../fonts/c.ttf') format('truetype'),
		url('../fonts/c.svg') format('svg');
		  font-family: 'Raleway';
		  font-style: normal;
		  font-weight: 400;
  		  src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v11/0dTEPzkLWceF7z0koJaX1A.woff2) format('woff2');
		  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
}

*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }

body {
	background: #fff;
	color: #383a3c;
	font-weight: 400;
	font-size: 1em;
	line-height: 1.25;
	font-family: 'Raleway', Calibri, Arial, sans-serif;
}

section {
	padding: 1em;
	text-align: center;
}

p.ref {
	text-align: center;
	padding: 2em 1em;
}

.footer {
	margin: 0 auto;
	padding: 2em;
	text-align: center;
	max-width: 900px;
}

.footer h1 {
	margin: 0;
	font-size: 4.5em;
	line-height: 1;
	font-weight: 200;
}

.footer h1 span {
	display: block;
	padding: 1em 0 1.5em;
	font-size: 36%;
	color: #95a5a6;
	line-height: 1.4;
}

@media screen and (max-width: 40em) {

	.footer h1 {
		font-size: 2.5em;
	}
}
